[submodule "AudioDSPUtils"]
	path = AudioDSPUtils
	url = https://github.com/SMU-Ubicomp-Lab/AudioDSPUtils.git
[submodule "OpenSpirometryCore"]
	path = OpenSpirometryCore
	url = https://github.com/SMU-Ubicomp-Lab/OpenSpirometryCore.git
